<div class="card-wrapper">
  <div class="relative">
    <img
      [src]="kitty().url"
      class="block bg-cover bg-no-repeat bg-[center_center] w-full h-[300px] object-cover"
      [alt]="breed().name"
    />

    <span [class]="'absolute text-xl top-2 left-4 ' + country()"></span>

    <svg-icon
      src="icons/heart.svg"
      [svgStyle]="{
        position: 'absolute',
        top: '0.875rem',
        right: '1rem',
        fill: 'white',
        'width.px': 26,
      }"
    />

    <div class="card-media">
      <span class="name">{{ breed().name }}</span>
      <div class="flex flex-wrap gap-1">
        @for (temperament of temperaments().slice(0, 4); track temperament) {
        <span class="temperament">{{ temperament }}</span>
        }
      </div>
    </div>
  </div>
</div>
